h1{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: rgb(118, 180, 118);
}
table, tr, th, td{
    border: 1px solid black;
    background-color: rgb(87, 177, 87);
    width: 700px;
    
}



