body{background-color: rgb(170, 183, 192);} 
h1{
    text-align:right
}

.uno{
    text-indent: 40px;
}

.dos{
    text-indent: 40px;
}

.tres{
    text-indent: 40px;
}

.cuatro{
    text-indent: 40px;
}

.cinco{
    text-indent: 40px;
}

.seis{
    text-indent: 40px;
}
.siete{
    text-indent: 40px;
}

.ocho{
    text-align: center;
    font-style: italic;
    
}

.nueve{
    text-align: center;
    font-style: italic;
    
}

