@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* segunda forma de insertar fuente (es mejor por la optimizacion) @IMPORT quita syles */

body{
    background-color: silver;
}

h1{
    font-family: 'Press Start 2P', cursive; /* codigo css que da google */
}

p{
    font-family: 'Yuji Hentaigana Akebono', cursive;

    /* font-family: 'Press Start 2P', cursive;
    font-size: 40px; */
    /* se usa el mismo codigo que da google para la forma 2 */

}